.fixed
  %nav.top-bar
    //Title
    %ul.title-area 
      %li.name 
        %h3 
          = link_to "Weather", root_path
    %section.top-bar-section
      //Right Navbar
      %ul.right
        %li= link_to "Test", "#"
